.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.navbarPrincipal{
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  background-image: url('/public/starts.jpg');
  position: fixed;
}

.btnImgNavbar{
 border-radius: 50%;
  width: 100px;
  height: 100px;
  margin-left: 1cm;
  overflow: hidden;
  object-fit: cover;
}

.iconNavbar{
  margin: 4px;
}

.btnFavorites{
  margin-right: 1cm;
}

.containerPrincipalHome{
  padding-top: 200px;  
  
}

.imgMenu{
  height: 5cm;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

body{
  background-image: url('/public/fondo2.jpg');
  background-repeat: no-repeat; 
  background-size: cover;
  background-position: center;
}

.linkFooter{
  color: rgb(161, 255, 127);
  font-family: 'Arial', sans-serif;
}

.styleText{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.imgDetail{
  height: 200px;
  width: 200px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;

}

.circulo{
  width: 100%;
  padding: 6cm;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.isFavorite{
  background-color: rgb(249, 225, 6);
}